@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
}

.floating-div{
    padding: 10px;
    /* border: black 1px solid; */
    border-radius: 15px;
    box-shadow: 0 1px 10px rgb(0,0,0,0.1);
}